<template>
    <v-col md="2" v-show = "credit.profile_path">
        <div class="card-divider d-inline">
            <v-card class = "credit-card" elevation="0" tile :to = "{ name: 'person', params: { id: credit.id }}">
                <v-img
                        :src="`http://image.tmdb.org/t/p/w300` + credit.profile_path"
                        :lazy-src="`https://picsum.photos/10/6?image=11`"
                        aspect-ratio="1"
                        class="grey lighten-2"
                >
                    <template v-slot:placeholder>
                        <v-row
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                        >
                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                    </template>
                </v-img>
                <v-card-title class = "credit__name pa-0 mt-2 mb-1"><p class = "mb-1 text-center">{{ credit.name }}</p></v-card-title>
                <v-card-text v-show = "credit.character" class = "credit__character pa-0"><p class = "text-center">{{ credit.character }}</p></v-card-text>
                <v-card-text v-show = "credit.job" class = "credit__character pa-0"><p class = "text-center">{{ credit.job }}</p></v-card-text>
            </v-card>
        </div>
    </v-col>

</template>

<script>
    export default {
        name: "Credit",
        props: ["credit"]
    }
</script>

<style scoped>
    .v-card.credit-card
    {
        border-width: 0;
    }

    .credit__name, .credit__character
    {
        word-break: break-word;
    }

    .credit__name p
    {
        font-size: 0.9rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .credit__character p
    {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

</style>