<template>
    <div class = "header green">
        <router-link :to = "{ name: 'trends' }"><h1 class = "white--text text-center" >MovieSearch</h1></router-link>
        <img src = "@/assets/cinema.png" class = "ml-5" alt = "" />
    </div>

</template>

<script>
    export default {
        name: "Header.vue"
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
    h1
    {
        font-family: 'Sacramento', cursive;
        font-size: 8rem;
        line-height: 12rem;
        display: inline-block;
        margin: 0 auto;
    }

    img
    {
        height: 10rem;
        position: relative;
        top: 2rem

    }

    .header
    {
        text-align: center;
        max-height:30vh;
    }
</style>