<template>
    <div class = "menu mt-3">
        <h4 class = "red--text accent-1 text-center">M E N U</h4>
        <div v-for="(item, i) in items" :key="i" class="ma-3">
            <router-link :to="item.path" v-text="item.text" class = "black--text text-center"></router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LeftMenu.vue",
        data: () => ({
            item: 1,
            items: []
        }),
        created: function() {
            this.items = this.$store.state.menu
        }
    }
</script>

<style scoped>
    h4
    {
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: bolder;
    }

    a
    {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8rem;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .menu
    {
        text-align: center;

    }
</style>


