<template>
    <div class = "d-block images mx-auto">
        <img v-for="company in notNullImg(companies)" :key="company.id" v-bind:src = "'http://image.tmdb.org/t/p/w300/' + company.logo_path"
             class = "pa-3" alt = "company.name"/>
    </div>
</template>

<script>
    export default {
        name: "LinkLogo",
        props: ['companies'],
        methods: {
            notNullImg: function (data) {
                if (data) {
                    return data.filter(function (company, index) {
                        return company.logo_path !== null && index < 2
                    })
                }

            }
        }
    }
</script>

<style scoped>
    .images {
        text-align: center;
        height: 150px;
        overflow: hidden;
    }

    .images img
    {
        vertical-align: middle;
        overflow: hidden;
        max-height: 120px
    }

</style>