<template>
    <div class="card-divider">
        <v-card class="mb-3 mr-4 movie-card" max-width="400" outlined :to="{ name:  movie.media_type ? movie.media_type : (movie.first_air_date ? 'tv' : 'movie'), params: { id: movie.id }}">
            <div class = "movie-card__poster">
                <img v-show = "movie.backdrop_path !== null || movie.backdrop_path !== '' || movie.poster_path !== null"
                     :src="'http://image.tmdb.org/t/p/w400/' + (movie.backdrop_path ? movie.backdrop_path : movie.poster_path )"
                     :lazy-src = "'https://planemprendedor.co/wp-content/uploads/2018/03/placeholder-4-400x225.jpg'"
                     v-bind:alt="movie.title" />
            </div>
            <v-list-item three-line class = "pl-0">
                <v-list-item-content>
                    <v-list-item-title class="headline mb-1">
                        <h4 class = "movie__title">
                            {{ movie.name ? movie.name : movie.title }}
                            {{ movie.release_date ? "(" + new Date(movie.release_date).getUTCFullYear() + ")" :
                            ( movie.first_air_date ? "(" + new Date(movie.first_air_date).getUTCFullYear() + ")" : "")}}
                        </h4>
                    </v-list-item-title>
                    <v-list-item-subtitle>{{ movie.overview }} {{ movie }}</v-list-item-subtitle>
                    <div>
                        <v-chip v-for="genre in genres" :key="genre.id" class = "mr-1 mt-1" label small color="primary">
                            {{ genre.name }}
                        </v-chip>
                    </div>
                </v-list-item-content>
            </v-list-item>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "MovieCard",
        props: [ 'movie' ],
        data: () => ({
            genres: []
        }),
        mounted: function() {
            if (this.movie.media_type === 'tv') {
                this.genres = this.$store.state.genresTv.filter(v => {
                    return this.movie.genre_ids.includes(v.id)
                })
            } else {
                this.genres = this.$store.state.genresMovie.filter(v => {
                    return this.movie.genre_ids.includes(v.id)
                })
            }
        }
    }
</script>

<style scoped>

    .movie-card {
        border-color: white !important;
    }

    .movie-card .movie-card__poster
    {
        width: 400px;
        height: 225px;
        overflow: hidden;
    }

    .movie__title {
        font-family: 'Nanum Gothic', sans-serif;
        color: black;
        text-decoration: none;
    }
    .movie__title:hover {
        text-decoration: underline;
    }
</style>