<template>
    <v-container>
        <v-row no-gutters>
            <v-col :col="6"><h1>{{ movie.name ? movie.name : movie.title }}
                ({{ movie.release_date ? moment(movie.release_date).format('YYYY') : moment(movie.first_air_date).format('YYYY')}})</h1></v-col>
            <v-col :col="6"><div class = "rating text-right font-weight-bold"
                                 v-bind:class = "movie.vote_average > 8 ? 'green--text darken-4' : (movie.vote_average > 6) ? 'orange--text lighten-1': 'red--text darken-1'">
                {{ movie.vote_average }}({{ movie.vote_count }})</div></v-col>
        </v-row>
        <v-row no-gutters class = "mt-3">
            <v-col :cols="4">
                <img v-bind:src="'http://image.tmdb.org/t/p/w300/' + movie.poster_path" v-bind:alt="movie.title" />
            </v-col>
            <v-col :cols="8">
                <v-simple-table class = "ml-5">
                    <template>
                        <tbody>
                            <tr v-show="movie.original_title">
                                <td>Original Title:</td>
                                <td>{{ movie.original_title }}</td>
                            </tr>
                            <tr v-show="movie.original_name">
                                <td>Original Name:</td>
                                <td>{{ movie.original_name }}</td>
                            </tr>
                            <tr v-show="movie.release_date">
                                <td>Release Date:</td>
                                <td>{{ moment(movie.release_date).format('D MMMM YYYY ') }}</td>
                            </tr>
                            <tr v-show = "movie.first_air_date">
                                <td>In air since:</td>
                                <td>{{ moment(movie.first_air_date).format('D MMMM YYYY ') }}</td>
                            </tr>
                            <tr v-show = "movie.number_of_seasons">
                                <td>Number of seasons:</td>
                                <td>{{ movie.number_of_seasons }}</td>
                            </tr>
                            <tr v-show = "movie.number_of_episodes">
                                <td>Number of episodes:</td>
                                <td>{{ movie.number_of_episodes }}</td>
                            </tr>
                            <tr v-show="movie.tagline">
                                <td>Tagline:</td>
                                <td>{{ movie.tagline }}</td>
                            </tr>
                            <tr v-show = "movie.budget">
                                <td>Budget:</td>
                                <td>{{ movie.budget }}</td>
                            </tr>
                            <tr v-show = "movie.revenue">
                                <td>Revenue:</td>
                                <td>{{ movie.revenue }}</td>
                            </tr>
                            <tr v-show = "movie.runtime">
                                <td>Runtime:</td>
                                <td>{{ movie.runtime }} min.</td>
                            </tr>
                            <tr v-show = "movie.imdb_id">
                                <td>IMDB</td>
                                <td><a v-bind:href="'https://www.imdb.com/title/' + movie.imdb_id">{{ movie.imdb_id }}</a></td>
                            </tr>
                            <tr v-show="movie.homepage">
                                <td>Homepage:</td>
                                <td><a v-bind:href="movie.homepage"><img src="@/assets/link.png" alt = ""  class = "icon-link"/>{{ movie.homepage }}</a></td>
                            </tr>
                            <tr>
                                <td>Genres:</td>
                                <td>
                                    <span v-for="genre in movie.genres" :key="genre.id" class = "mr-3 mt-3 mb-1">
                                        {{ genre.name }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
                <div class = "mt-5" v-show = "false">
                    <LinkLogo  v-bind:companies="movie.production_companies" />
                </div>
            </v-col>
        </v-row>
        <div class = "overview mt-5">Overview: {{ movie.overview }}</div>
        <div class = "overview mt-5">
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>Cast</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row no-gutters>
                            <Credit v-for="credit in credits.cast" :key="credit.credit_id"  v-bind:credit="credit" />
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </div>
        <div class = "overview mt-5">
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>Crew</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row no-gutters>
                            <Credit v-for="credit in credits.crew" :key="credit.credit_id"  v-bind:credit="credit" />
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </div>
    </v-container>

</template>

<script>
    import Axios from "axios";
    import LinkLogo from "@/components/LinkLogo";
    import Credit from "@/components/Credit";

    export default {
        name: 'Movie',
        components: {Credit, LinkLogo},
        data () {
            return {
                movie: '',
                credits: '',
            }
        },
        mounted() {
            Axios
                .get('https://api.themoviedb.org/3/' + this.$route.name + "/" + this.$route.params.id + '?api_key=' + this.$store.state.apikey)
                .then(response => (this.movie = response.data ));

            Axios
                .get('https://api.themoviedb.org/3/' + this.$route.name + "/" + this.$route.params.id + '/credits?api_key=' + this.$store.state.apikey)
                .then(response => (this.credits = response.data));
        }
    }
</script>

<style scoped>
    h1, .overview
    {
        font-family: 'Nanum Gothic', sans-serif;
    }
.rating
{
    line-height: 3rem;
    font-size: 1.5rem;
}
    .icon-link
    {
        height: 14px;
        position: relative;
        top: 4px;
        left: -3px;

    }
</style>