<template>
    <v-container fluid class = "pa-0">
        <v-list two-line subheader>
            <v-list-item v-for="(movie, index) in notNullTitle(movies)" v-bind:key = "movie.id" class = "pl-0" :to = "{ name: movie.media_type ? movie.media_type : (movie.first_air_date ? 'tv' : 'movie'), params: { id: movie.id }}">
                <div class = "mr-3 grey--text">{{ index }}</div>
                <v-list-item-content>
                    <v-list-item-title class = "movie__title">{{ movie.original_title ? movie.original_title : movie.original_name }} ({{ moment(movie.release_date).format('YYYY') }})</v-list-item-title>
                    <v-list-item-subtitle>{{ movie.character }}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-container>
</template>

<script>
    export default {
        name: "MovieCardListText",
        props: ['movies'],
        methods: {
            notNullTitle: function (data) {
                if (data) {
                    return data.filter(function (movie, index) {
                        return (movie.original_title !== null || movie.original_title !== '') && index < 50
                    })
                }

            }
        }
    }
</script>

<style scoped>
    .movie__title
    {
        text-decoration: underline;
    }
</style>