<template>
    <v-container fluid class = "pa-0">
        <v-row dense>
            <div class="card" v-for="movie in movies" v-bind:key = "movie.id">
                <MovieCard v-bind:movie="movie" />
            </div>
        </v-row>
    </v-container>
</template>

<script>
    import MovieCard from "@/components/MovieCard";

    export default {
        name: "MovieCardList",
        components: { MovieCard },
        props: ['movies']
    }
</script>

<style scoped>

</style>