<template>
    <div>
        <h1>{{ person.name }}</h1>
        <v-chip small v-for="name in person.also_known_as" :key="name" class = "primary mt-1 mr-3">{{ name }}</v-chip>
        <v-row no-gutters class = "mt-3">
            <v-col :cols="4">
                <img v-bind:src="'http://image.tmdb.org/t/p/w300/' + person.profile_path" v-bind:alt="person.name" />
            </v-col>
            <v-col :cols="8">
                <v-simple-table class = "ml-5">
                    <template>
                        <tbody>
                            <tr v-show="person.known_for_department">
                                <td>Occupation:</td>
                                <td>{{ person.known_for_department }}</td>
                            </tr>
                            <tr v-show="person.birthday">
                                <td>Birthday date:</td>
                                <td>{{ moment(person.birthday).format('D MMMM YYYY') }}</td>
                            </tr>
                            <tr v-show="person.deathday">
                                <td>Deathday date :</td>
                                <td>{{ person.deathday }}</td>
                            </tr>
                            <tr v-show="person.biography">
                                <td class = "person__biography">Biography:</td>
                                <td>{{ person.biography }}</td>
                            </tr>
                            <tr v-show="person.place_of_birth">
                                <td>Place of birth:</td>
                                <td>{{ person.place_of_birth }}</td>
                            </tr>
                            <tr v-show = "person.imdb_id">
                                <td>IMDB</td>
                                <td><a v-bind:href="'https://www.imdb.com/name/' + person.imdb_id">{{ person.imdb_id }}</a></td>
                            </tr>
                            <tr v-show="person.homepage">
                                <td>Homepage:</td>
                                <td><a v-bind:href="person.homepage"><img src="@/assets/link.png" alt = ""  class = "icon-link"/>{{ person.homepage }}</a></td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-col>
        </v-row>
        <h2>Movies</h2>
        <MovieCardListText v-bind:movies="credits.cast" />
    </div>
</template>

<script>
    import Axios from "axios";
    import MovieCardListText from "@/components/MovieCardListText";

    export default {
        name: "Person",
        components: {
            MovieCardListText
        },
        data () {
            return {
                person: '',
                credits: '',
            }
        },
        mounted() {
            Axios
                .get('https://api.themoviedb.org/3/person/' + this.$route.params.id + '/?api_key=' + this.$store.state.apikey)
                .then(response => (this.person = response.data ));
            Axios
                .get('https://api.themoviedb.org/3/person/' + this.$route.params.id + '/combined_credits?api_key=' + this.$store.state.apikey)
                .then(response => (this.credits = response.data ));
        }
    }
</script>

<style scoped>
    .person__biography
    {
        vertical-align: baseline;
    }
</style>