<template>
    <div>
        <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(onSubmit)">
                <ValidationProvider v-slot="{ errors }" name="Query" rules="required|min:3">
                    <v-text-field
                            v-model="query"
                            :error-messages="errors"
                            label="Name of Movie / TV Show"
                    ></v-text-field>
                </ValidationProvider>
                <ValidationProvider v-slot="{ errors }" name="year">
                    <v-select
                            v-model="year"
                            :items="years"
                            :error-messages="errors"
                            label="Release year"
                            data-vv-name="select"
                            required
                    ></v-select>
                </ValidationProvider>

                <ValidationProvider v-slot="{ errors }" name="include_adult">
                    <v-checkbox
                            v-model="include_adult"
                            :error-messages="errors"
                            value="1"
                            label="Include Adult"
                            type="checkbox"
                    ></v-checkbox>
                </ValidationProvider>
                <v-btn class="mr-4" type="submit">submit</v-btn>
                <v-btn @click="clear">clear</v-btn>
            </form>
        </ValidationObserver>

        <div class = "mt-2">
            <h2 v-show = "total_results" class = "text-center mb-2">Results (Total results: {{ total_results }})</h2>
            <MovieCardList v-bind:movies="results" />
        </div>
    </div>
</template>

<script>
    import { required, min } from 'vee-validate/dist/rules'
    import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
    import Axios from "axios";
    import MovieCardList from "@/components/MovieCardList";

    setInteractionMode('lazy');

    extend('required', {
        ...required,
        message: '{_field_} can not be empty',
    });

    extend('min', {
        ...min,
        message: '{_field_} may not be less than {length} characters',
    });

    export default {
        name: 'Search',
        components: {
            MovieCardList,
            ValidationProvider,
            ValidationObserver,
        },
        mounted() {
            this.$store.dispatch('loadGenres');
            this.years = this.range(new Date().getUTCFullYear() + 2, 1900);
        },
        data: () => ({
            query: '',
            include_adult: false,
            results: [],
            total_results: null,
            year: null,
            years: [],
        }),
        methods: {
            clear () {
                this.query = '';
                this.include_adult = null;
                this.$refs.observer.reset();
                this.results = [];
                this.total_results = null;
            },
            onSubmit() {

                Axios
                    .get('https://api.themoviedb.org/3/search/movie/?api_key=' + this.$store.state.apikey +
                        '&query=' + this.query + '&page=1&include_adult=' + this.include_adult + '&year=' + this.year)
                    .then((response) => {
                        this.results = response.data.results;
                        this.total_results = response.data.total_results;
                    });

                Axios
                    .get('https://api.themoviedb.org/3/search/tv/?api_key=' + this.$store.state.apikey +
                        '&query=' + this.query + '&page=1&first_air_date_year=' + this.year)
                    .then((response) => {
                        this.results = this.results.concat(response.data.results);
                        this.total_results += response.data.total_results;
                    });
            },
            range(start, end) {
                let arr = [];
                if (start < end) {
                    while (start++ !== end) {
                        arr.push(start)
                    }
                } else {
                    while (start-- !== end) {
                        arr.push(start)
                    }
                }

                return arr
            }
        },
    }
</script>

<style scoped>
    h2 {
        font-family: 'Nanum Gothic', sans-serif;
    }
</style>