<template>
    <div>
        <h1>Now in trends</h1>
        <MovieCardList v-bind:movies="movies" />
    </div>
</template>

<script>
    import Axios from "axios";
    import MovieCardList from "@/components/MovieCardList";

    export default {
        name: 'Trends',
        components: {MovieCardList},
        data () {
            return {
                movies: [],
                api_key: ''
            }
        },
        mounted() {
            this.$store.dispatch('loadGenres');
            Axios
                .get('https://api.themoviedb.org/3/trending/all/day?api_key=' + this.$store.state.apikey)
                .then(response => (this.movies = response.data.results));
        }
    }
</script>

<style scoped>
    h1 {
        font-family: 'Nanum Gothic', sans-serif;
    }
</style>