<template>
  <div id="app">
    <v-app id="inspire" min-height="100%">
      <v-container :fluid="true" class="green lighten-5">
        <Header />
        <v-col cols="8" offset-md="2">
          <v-row class="mb-4 white">
            <v-col lg="2">
              <LeftMenu />
            </v-col>
            <v-col lg="10">
              <div class = "main-block white">
                <router-view></router-view>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-container>
    </v-app>
  </div>
</template>

<script>
import LeftMenu from "@/components/LeftMenu"
import Header from "@/components/Header"

export default {
  name: 'app',
  components: {
    LeftMenu,
    Header
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

  .main-block
  {
    min-height: 70vh
  }
</style>
